<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/clerk/clerk_comp.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/styles/load.css" />
    <title>Clerk</title>
  </head>
  <body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Compost Production</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/clerk/clerk_gin">Garbage In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clerk/clerk_out">Garbage Out</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle"></i>
              <span id="userName">&nbsp UserName</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="/changePassword"><i class="fa fa-cog"></i>&nbsp Change password</a>
              <a class="dropdown-item" href="/logOut"><i class="fa fa-sign-out"></i>&nbsp Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->

    <div id="loader" class="text-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    <!-- container -->
    <div class="mt-5 container">
      <div class="row">
          <!-- image -->
          <div id="imgdiv" class="col-sm-5 rounded-left" style="background: linear-gradient(to bottom, #009999 0%, #003366 100%); padding-top: 100px;">
            <div class="img">
              <img class="my-auto d-block img-fluid" src="/public/images/comp.svg">
            </div>
          </div>


        

        <div class="col-sm-7 rounded-right" style="background-color: #359b9b;">

            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="font-size: large;">
              <li class="nav-item" role="presentation">
                <a class="nav-link active text-dark" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="employees" aria-selected="true">Compost In</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#menu1" onclick="getPctPrice()" role="tab" aria-controls="Vehicle" aria-selected="false">Compost Out</a>
              </li>
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">
              <div id="home" class="container tab-pane active"><br>
                <!-- form -->
                  <form class="mb-4" style="font-size: large;">

                    <div class="mx-auto" style="width:150px ">
                      <p class="font-weight-bolder" style="font-family: sans-serif;"><h3>Compost In</h3></p>
                    </div>

                    <div id = "nopct" class="form-group">
                        <label for="compct">Packets Produced</label>
                        <input type="number" class="form-control" id="compct">
                    </div>
                
                    <div id="div7 " >
                        <button id="btn" class="btn btn-block" style="background-color:#0d4d57; color: white;"type="button" onclick="compIn()">SUBMIT</button>
                    </div>
                </form>
                <!-- form -->
              </div>
              <!-- home tab content ends -->

              <div id="menu1" class="container tab-pane fade"><br>
                <!-- form -->
                <form class="mb-4" style="font-size: large;">

                  <div class="mx-auto" style="width:170px ">
                    <p class="font-weight-bolder" style="font-family: sans-serif;"><h3>Compost Out</h3></p>
                  </div>  
                  
                  <div id = "price" class="form-group">
                      <label for="pricepct">Price per Compost Packet(Rs.)</label>
                      <label class="form-control" id="priceperpct">
                  </div>

                  <div id = "pctsold" class="form-group">
                      <label for="pcts">No of Packets</label>
                      <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="nofpct">
                  </div>
                  
                  <div id="bill" class="input-group mb-3">
                    <label for="lamount">Bill Amount(Rs.)</label>
                    <div id="grp" class="input-group mb-3">
                        <input type="number" class="form-control" id="amount" placeholder="Rs.">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" onclick="calculate('priceperpct','nofpct','amount')">SHOW</button> 
                        </div>
                    </div>
                  </div> 

                  <div id="div7 " >
                      <button id="btn" class="btn btn-block" style="background-color:#0d4d57; color: white;"type="button" data-toggle="modal" data-target="#myModal" data-backdrop="static" onclick="getData()">SAVE</button>
                  </div>
              </form>
              <!-- form -->

              </div>
              <!-- menu1 tab content end -->
            </div>
            <!-- tab pane content div ends -->
        </div>
      </div>
    </div>
    <!-- container -->

    
    <!-- The Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modelbody" style= "background-color: #3aa6a6; font-size: large; color: black;">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <!-- <i class="fas fa-recycle"></i> -->
            <h4 style="line-height: 1.9; padding-left: 12px;" class="modal-title"><b>INVOICE</b></h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 ml-auto">Disposal Site,
                  Sundarapola, Yanthampalawa.
                </div>
              </div>
            </div>
            <button type="button" class="close" id="btn-close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container-fluid">
              
              <div class="row">
                <div class="col-sm-6">Invoice No    :</div>
                <div class="col-sm-6" id = "invoice"></div>
              </div>

              <div class="row">
                <div class="col-sm-6">Type  :</div>
                <div class="col-sm-6" id = "gartype">Compost</div>
              </div>

              <div class="row">
                <div class="col-sm-6">Date    :</div>
                <div class="col-sm-6" id = "date"></div>
              </div>

              <div class="row">
                <div class="col-sm-6">Time    :</div>
                <div class="col-sm-6" id = "time"></div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">No of Packets    :</div>
                <div class="col-sm-6" id = "pct"></div>
              </div>

              <div class="row" id ="a">
                <div class="col-sm-6">Amount    :</div>
                <div class="col-sm-6" id = "amnt"></div>
              </div>
          </div>
        </div>
          <!-- Modal footer -->
          <div class="modal-footer" id="footer">
            <button id="btnf" type="button" class="btn btn-dark" data-dismiss="modal" onclick="compOut()">Submit & Print</button>
            <button id="btnf" type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <!-- The Modal -->

    <script src="/public/scripts/api.js"></script>
    <script src="/public/scripts/clerk/clerk_comp.js"></script>
    <script src="/public/scripts/clerk/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
