<!DOCTYPE html>
<html>
<head>
	<title>Change password</title>
	<link rel="stylesheet" type="text/css" href="/public/styles/changePassword.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/public/styles/load.css" />
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div id="home"><a href="/"><i class="fas fa-home fa-2x"></i></a></div>
	<img class="wave" src="/public/images/wave.png">
	<div class="container">
		<div id="loader" class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		<div class="img">
			<img src="/public/images/changePw.svg">
		</div>
		<div class="login-content">
			<form action="/login" method="POST">
				<img src="/public/images/avatar.svg">
				<h2 class="title">CHange password</h2>
           		<h4>USER NAME :&nbsp<span id="userName"></span></h4>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Old password</h5>
           		    	<input type="password" class="input" id="oldPass">
            	   </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>New password</h5>
                         <input type="password" class="input" id="newPass1">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Re-enter new password</h5>
                         <input type="password" class="input" id="newPass2">
                    </div>
                </div>
            	<br>
				<input type="button" onclick="change()" class="btn" value="Change now!">
				<h5 class="title" id="msg"></h5>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/public/scripts/changePassword.js"></script>
    <script type="text/javascript" src="/public/scripts/api.js"></script>
</body>
</html>
