<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/ourteam.css">
</head>
<body class="bodyimg">
	<section class="our-webcoderskull padding-lg">
        <div class="container">
          <div class="row heading heading-icon">
              <h2>Our Team</h2>
          </div>
          <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="/public/images/kavinda.jpeg" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Kavinda Rajapaksha</a></h3>
                  <p>University of Moratuwa</p>
                  <ul class="follow-us clearfix">
                    <li><a href="https://www.facebook.com/kavindasr"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/kavindasr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kavindasr/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="/public/images/roshinie.jpeg" class="img-responsive" alt=""></figure>
                  <h3><a href="#">Roshinie Jayasundara </a></h3>
                  <p>University of Moratuwa</p>
                  <ul class="follow-us clearfix">
                    <li><a href="https://www.facebook.com/profile.php?id=100013463014904"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/roshinie-jayasundara/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="/public/images/meelan.jpg" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Meelan Bandara </a></h3>
                  <p>University of Moratuwa</p>
                  <ul class="follow-us clearfix">
                    <li><a href="https://www.facebook.com/meelan.bandara"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/meelanbandara/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
             </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="/public/images/isuru.jpg" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Isuru Ariyarathne </a></h3>
                  <p>University of Moratuwa</p>
                  <ul class="follow-us clearfix">
                    <li><a href="https://www.facebook.com/isuru.ariyarathne.566/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/IsuruAri9718"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/isuru-ariyarathne-9237381a3/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
      </section>
</body>
</html>
