<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/moh/home.css" />
        <link rel="stylesheet" href="/public/styles/load.css" />
    </head>
    <body>
      <div id="loader" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div id="addUserfile">
        <div class="row row-content bodycontent" id="addUserfile">
          <div class="col-12 col-sm-6">
            <div class="card">
              <div class="card-body">
                <center>
                  <h3 style="color: rgb(255, 255, 255); display: inline-flex;">Invoice Report</h3>
                </center>
                <form action="" target="_self">
                  <br />
                  <div id="togglepart" class=row>
                    <label for="mass" style="font-family: arial; color: rgb(255, 255, 255);" class="col-12 col-sm-5">Invoice Number</label>
                    <input class="col-12 col-sm-6" id="invoicenum" type="int" name="invoicenum" placeholder="180044" />
                  </div>
                  <div id="invoiceselection" class="row" style="padding-top: 30px;">
                    <label for="mass" style="font-family: arial; color: rgb(255, 255, 255);" class="col-12 col-sm-5">Invoice  Type</label>
                    <!-- Group of default radios - option 1 -->
                    <div class="radiobtn col-12 col-sm-6">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample1"  data-toggle="modal" data-target="#myModal1" data-backdrop="static" onclick="getinvoicegarbagein()">Garbage In</label>
                      </div>

                      <!-- Group of default radios - option 2 -->
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample2" onclick="getinvoicegarbageout()">Garbage Out</label>
                      </div>

                      <!-- Group of default radios - option 3 -->
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample3"  data-toggle="modal" data-target="#myModal3" data-backdrop="static" onclick="getinvoicecompost()">Compost Out</label>
                      </div>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="myModal1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="modelbody" style= "background-color: #749cef; font-size: large; color: black;">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <!-- <i class="fas fa-recycle"></i> -->
              <h4 style="line-height: 1.9; padding-left: 12px;" class="modal-title"><b>INVOICE</b></h4>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 ml-auto">Disposal Site,
                    Sundarapola, Yanthampalawa.
                  </div>
                </div>
              </div>
              <button type="button" class="close" id="btn-close" data-dismiss="modal" onclick="getback()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div class="container-fluid">
                
                <div class="row">
                  <div class="col-sm-6">Invoice No    :</div>
                  <div class="col-sm-6" id = "invoice1"></div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6">Date    :</div>
                  <div class="col-sm-6" id = "date1"></div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6">Time    :</div>
                  <div class="col-sm-6" id = "time1"></div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6">Garbage Type  :</div>
                  <div class="col-sm-6" id = "gartype1"></div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6">Weight(kg)   :</div>
                  <div class="col-sm-6" id = "wght1"></div>
                </div>
  
                <div class="row" id ="a">
                  <div class="col-sm-6">Amount    :</div>
                  <div class="col-sm-6" id = "amnt1"></div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="modal" id="myModal2" role="dialog" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="modelbody" style="background: linear-gradient(to bottom, #d4d4e0 0%, #605e63 100%); font-size: large; color: black;">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <!-- <i class="fas fa-recycle"></i> -->
              <h4 style="line-height: 1.9; padding-left: 12px;" class="modal-title"><b>INVOICE</b></h4>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 ml-auto">Disposal Site,
                    Sundarapola, Yanthampalawa.
                  </div>
                </div>
              </div>
              <button type="button" class="close" id="btn-close" data-dismiss="modal" onclick="getback()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div class="container-fluid">
                
                <div class="row">
                  <div class="col-sm-6">Invoice No    :</div>
                  <div class="col-sm-6" id = "invoice2"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">Date    :</div>
                  <div class="col-sm-6" id = "date2"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">Time    :</div>
                  <div class="col-sm-6" id = "time2"></div>
                </div>
                
                <div class="row">
                  <div class="col-sm-6">Garbage Type  :</div>
                  <div class="col-sm-6" id = "gartype2"></div>
                </div>
              
                <div class="row">
                  <div class="col-sm-6">Weight (kg)    :</div>
                  <div class="col-sm-6" id = "wght2"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="modal" id="myModal3" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modelbody" style= "background-color: #3aa6a6; font-size: large; color: black;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <!-- <i class="fas fa-recycle"></i> -->
          <h4 style="line-height: 1.9; padding-left: 12px;" class="modal-title"><b>INVOICE</b></h4>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 ml-auto">Disposal Site,
                Sundarapola, Yanthampalawa.
              </div>
            </div>
          </div>
          <button type="button" class="close" id="btn-close" data-dismiss="modal" onclick="getback()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            
            <div class="row">
              <div class="col-sm-6">Invoice No    :</div>
              <div class="col-sm-6" id = "invoice3"></div>
            </div>

            <div class="row">
              <div class="col-sm-6">Type  :</div>
              <div class="col-sm-6" id = "gartype3">Compost</div>
            </div>

            <div class="row">
              <div class="col-sm-6">Date    :</div>
              <div class="col-sm-6" id = "date3"></div>
            </div>

            <div class="row">
              <div class="col-sm-6">Time    :</div>
              <div class="col-sm-6" id = "time3"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-6">No of Packets    :</div>
              <div class="col-sm-6" id = "pct3"></div>
            </div>

            <div class="row" id ="a">
              <div class="col-sm-6">Amount    :</div>
              <div class="col-sm-6" id = "amnt3"></div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>

      <script src="/public/scripts/api.js"></script>
      <script src="/public/scripts/moh/invoicereport.js"></script>
    </body>
</html>
