<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/MOH/home.css" />
        <link rel="stylesheet" href="/public/styles/load.css" />
    </head>
    <body>
      <div id="loader" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
        <div id="addemployeefile">
            <div class="row row-content bodycontent" id="addemployeefile">
              <div class="col-12 col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <center>
                      <h3 style="color: white; display: inline-flex;">ADD EMPLOYEE</h3>
                    </center>
                    <form class="form-group">
                      <div id="tooglepart1">
                        <input id="name" type="text" onkeypress="return /[a-z\. -]/i.test(event.key)"  name="Weight1" placeholder="Name" />
                      </div>
                      <div id="tooglepart2">
                        <input id="id" type="number" name="Weight2" pattern="[0-9]+" title="number only" placeholder="Employee ID" />
                      </div>
                      <div id="tooglepart3">
                        <input id="salid" type="number" pattern="[0-9]+" title="number only" name="Weight3" placeholder="Salary-ID" />
                      </div>
                      <div id="togglepart4">
                        <input id="dob" type="text" name="Bill4" placeholder="Year/Month/Date" />
                      </div>
                      <div id="togglepart5">
                        <div class="box">
                          <select id="selection">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                        </div>
                      </div>
                      <div id="togglepart6">
                        <input id="emtype" type="number" pattern="[0-9]" title="number only" name="Bill5" placeholder="Employee Type" />
                      </div>
                      <div id="sub">
                        <button id="btn" type="button" onclick="submitAttendance()">
                          ADD
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="/public/scripts/MOH/apiCall.js"></script>
          <script src="/public/scripts/MOH/addEmployee.js"></script>
    </body>
</html>
