<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/moh/home.css" />
        <link rel="stylesheet" href="/public/styles/load.css" />
    </head>
    <body>
      <div id="loader" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div id="garbageReportfile">
        <div class="row row-content bodycontent" id="garbageReportfile">
          <div class="col-12 col-sm-6">
            <div class="card">
              <div class="card-body">
                <center>
                  <h3 style="color: rgb(255, 255, 255); display: inline-flex;">Garbage report</h3>
                </center>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active text-light" id="home-tab" onclick="setType(1)" data-toggle="tab" href="#onlyEmp" role="tab" aria-controls="employees" aria-selected="true">Daily</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-light"  id="profile-tab" onclick="setType(2)" data-toggle="tab" href="#withVehi" role="tab" aria-controls="Vehicle" aria-selected="false">Weekly</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-light"  id="profile-tab" onclick="setType(2)" data-toggle="tab" href="#withVehi" role="tab" aria-controls="Vehicle" aria-selected="false">Monthly</a>
                  </li>
                </ul>
                <div class="tab-content bg-white text-info" id="myTabContent" style="padding: 10px;border-style: solid; border-color: aliceblue; border-radius: 0px 0px 4px 4px;">
                  <br>
                  <div class="tab-pane fade show active" id="onlyEmp" role="tabpanel" aria-labelledby="home-tab"><div class="flex-container" id="flexBoxDiv1"></div></div>
                  <div class="tab-pane fade" id="withVehi" role="tabpanel" aria-labelledby="profile-tab"><div class="flex-container" id="flexBoxDiv2"></div></div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modelbody" style="background: linear-gradient(to bottom, #d4d4e0 0%, #605e63 100%); font-size: large; color: black;">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <!-- <i class="fas fa-recycle"></i> -->
            <h4 style="line-height: 1.9; padding-left: 12px;" class="modal-title"><b>INVOICE</b></h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 ml-auto">Disposal Site,
                  Sundarapola, Yanthampalawa.
                </div>
              </div>
            </div>
            <button type="button" class="close" id="btn-close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container-fluid">
              
              <div class="row">
                <div class="col-sm-6">Invoice No    :</div>
                <div class="col-sm-6" id = "invoice"></div>
              </div>

              <div class="row">
                <div class="col-sm-6">Date    :</div>
                <div class="col-sm-6" id = "date"></div>
              </div>

              <div class="row">
                <div class="col-sm-6">Time    :</div>
                <div class="col-sm-6" id = "time"></div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">Garbage Type  :</div>
                <div class="col-sm-6" id = "gartype"></div>
              </div>
            
              <div class="row">
                <div class="col-sm-6">Weight (kg)    :</div>
                <div class="col-sm-6" id = "wght"></div>
              </div>

              <div class="row" id ="a">
                <div class="col-sm-6">Amount    :</div>
                <div class="col-sm-6" id = "amnt"></div>
              </div>
          </div>
        </div>
      </div>
    </div>

      <script src="/public/scripts/moh/garbageReport.js"></script>
    </body>
</html>
