<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/moh/home.css" />
        <link rel="stylesheet" href="/public/styles/load.css" />
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css' rel='stylesheet' />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js'></script>
        <script src='/public/scripts/moh/calendar.js'></script>
    </head>
    <body>
      <div id="loader" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div id="employeedetailfile">
        <div class="row row-content bodycontent" id="employeedetailfile">
          <div class="col-12 col-sm-8">
            <div class="card">
              <div class="card-body">
                <center>
                  <h3 style="color: rgb(255, 255, 255); display: inline-flex;">Employee Detail</h3>
                </center>
                <form action="" target="_self">
                  <br />
                  <div id="togglepart">
                    <label for="mass" style="font-family: arial; color: rgb(255, 255, 255);">Enter Employee ID</label>
                    <input id="idnum" type="number" name="emp_id" placeholder="180044" />
                  </div>
                  <div id="sub">
                    <button id="btn" type="button" onclick="checkEmployee()">
                      SUBMIT
                    </button>
                  </div>
                </form>
                <div id="detail" style="display: none;">
                  <h3 id="empName" ></h3>
                  <h4 id="empGender"></h4>
                  <h4 id="empType"></h4>
                  <div id="comfield">
                    <p id="empID"></p>
                    <p id="empSalID"></p>
                  </div>
                
                  <div style="justify-items: center;">
                    <button id="wrkdays" type="button" onclick="removeemp()" style="margin-bottom: 20px;">Remove Employee</button>
                  </div>
                  <div class="input-group mb-3 justify-content-center">
                    <label for="monthsel"  style="padding-top: 2px;">View attendance:</label>
                    <input type="month" id="monthselect1" name="monthselect">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button" onclick="workingdays()">GO</button>  
                    </div>
                  </div>
                  <p id="numdays"></p>
                </div>
                <div id="detail" style="display: none;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id='calendar' style="color:#378006; background-color: silver; padding: 10px;"></div>
      <script src="/public/scripts/moh/apiCall.js"></script>
      <script src="/public/scripts/moh/removeEmployee.js"></script>
      <script src="/public/scripts/moh/employeedetails.js"></script>
    </body>
</html>
