<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/depot/main.css" />
    <link rel="stylesheet" href="/public/styles/load.css" />
    <link href="/public/styles/moh/homenew.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="homenew.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
          <!--<ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/depot/main">Dailyat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/depot/vehicle">Vehicle Report</a>
            </li>
          </ul>-->
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i>
                <span id="userName">&nbsp UserName</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" href="/changePassword"><i class="fa fa-cog"></i>&nbsp Change password</a>
                <a class="dropdown-item" href="/logOut"><i class="fa fa-sign-out"></i>&nbsp Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->

      <div id="loader" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    <div class="container-fluid">
        <div class="row">
            <div id="icons" class="col-md-12">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm tile" style="background-color: rgb(0, 122, 255);">
                            <a class='btn' href="#view" onclick="run('addemployee.html')">
                                <div>
                                    <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Add employee</div>
                            </a>
                            
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(52, 199, 89);">
                            <a class='btn' href="#view" onclick="run('employeedetail.html')">
                                <div>
                                    <i class="fa fa-address-card fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Employee details</div>
                            </a>
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(88, 86, 214);">
                            <a class='btn' href="#view" onclick="run('monthlygarbagereport.html')">
                                <div>
                                    <i class="fa fa-trash fa-5x" aria-hidden="true"></i>
                                </div>
                                <div> Monthly Garbage report</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm tile" style="background-color: rgb(255, 149,0 );">
                            <a class='btn' href="#view" onclick="run('vehiclereport.html')">
                                <div>
                                    <i class="fa fa-car fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Vehicle report</div>
                            </a>
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(255, 45, 85)">
                            <a class='btn' href="#view" onclick="run('removeemployee.html')">
                                <div>
                                    <i class="fa fa-user-times fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Remove employee</div>
                            </a>
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(175, 82, 222);">
                            <a class='btn' href="#view" onclick="run('dailyattendence.html')">
                                <div>
                                    <i class="fa fa-folder-open fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Daily attendance</div>
                            </a>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm tile" style="background-color: rgb(255, 59, 48);">
                            <a class='btn' href="#view" onclick="run('adduser.html')">
                                <div>
                                    <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Add User</div>
                            </a>
                            
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(90, 200, 250);">
                            <a class='btn' href="#view" onclick="run('invoicereport.html')">
                                <div>
                                    <i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Invoice Report</div>
                            </a>
                        </div>
                        <div class="col-sm tile" style="background-color: rgb(255, 204,0);">
                            <a class='btn' href="#view" onclick="run('removeuser.html')">
                                <div>
                                    <i class="fa fa-minus-circle fa-5x" aria-hidden="true"></i>
                                </div>
                                <div>Remove User</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="view" class="col-md-6">
                <a id="back" class="btn" href="#" onclick="back()">
                    <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                </a>
                <a id="full" class="btn" href="#" onclick="full()">
                    <i class="fa fa-arrows-alt fa-1x" aria-hidden="true"></i>
                </a>
                <a id="small" class="btn" href="#" onclick="small()">
                    <i class="fa fa-compress fa-1x" aria-hidden="true"></i>
                </a>
                <br>
                <br>
                <br>
                <div id="content">
                </div>
            </div>
         
        </div>
    </div>

    <script src="/public/scripts/api.js"></script>
    <script src="/public/scripts/moh/homenew.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>