<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/moh/addEmployee.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>MOH</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Main</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              +/- Employee
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="addEmployee.html">Add Employee</a>
              <a class="dropdown-item" href="removeEmployee.html"
                >Remove Employee</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              View Reports
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="dailyattendence.html"
                >Daily Attendence</a
              >
              <a class="dropdown-item" href="#">Vehicle Report</a>
              <a class="dropdown-item" href="#">Garbage Report</a>
              <a class="dropdown-item" href="employeedetail.html"
                >Employee Details</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Settings
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Change password</a>
              <a class="dropdown-item" href="logout.html">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row row-content bodycontent">
      <div class="col-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <center><h3 style="color: white;">ADD EMPLOYEE</h3></center>
            <div id="sub">
              <button id="btn" type="button" onclick="logout()">
                  LOGOUT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/scripts/moh/apiCall.js"></script>
    <script src="/public/scripts/moh/logout.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
