body{
    background-color: #1F618D;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div{
    width: 50px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #3498DB ;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
}
  
.flex-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

div.swap{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
    padding:10px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#submit{
    max-width: 250px;
    margin: 15px;
}