/*home css files*/
body {
  background-color: #0f4c75;
  color: aliceblue;
  font-size: large;
}

.addemployee {
  background-color: rgba(139, 139, 6, 0.397);
  height: 200px;
}

.removeemployee {
  background-color: rgb(7, 197, 211);
  height: 200px;
}

.employeedetails {
  background-color: rgb(27, 134, 0);
  height: 200px;
}

.dailyattendence {
  background-color: rgb(68, 0, 114);
  height: 200px;
}

.adduser {
  background-color: rgb(131, 0, 55);
  height: 200px;
}

.removeuser {
  background-color: rgb(0, 84, 133);
  height: 200px;
}

.garbagereport {
  background-color: rgb(143, 140, 0);
  height: 200px;
}

.vehiclereport {
  background-color: rgb(114, 65, 0);
  height: 200px;
}

.col-md-3 {
  height: 200px;
}

.icon {
  height: 140px;
}

.namedtl {
  display: inline-flex;
  align-content: center;
}

.container > div :hover {
  cursor: pointer;
  background-color: #e3dfc8 !important;
}

/*add employee/remove employee form css files*/

#addemployeefile {
  justify-content: center;
}

#removeemployeefile {
  justify-content: center;
}

.card {
  border-radius: 10px;
  display: flex;
  
  background-color: #04468d;
}

.bodycontent {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.form-group {
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
  font-family: arial;
  color: rgb(7, 7, 7);
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

input[type="submit"] {
  font-family: arial;
  font-size: 14px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#btn {
  width: 325px;
  height: 40px;
  display: inline-block;
  font-size: 20px;
  background-color: cadetblue;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#sub {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.tooglepart1 .tooglepart2 .tooglepart3 .tooglepart4 .tooglepart5 .tooglepart6 {
  background-color: white;
}

/*employeeetail css*/

#empName{
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 20px;
}

#empGender{
  display: flex;
  justify-items: center;
  justify-content: center;
}

#empType{
  display: flex;
  justify-items: center;
  justify-content: center;
}

#wrkdays{
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 20px;
  background-color: cadetblue;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}

#comfield{
  display: flex;
  justify-content: center;
}

#empID{
  display: flex;
  font-size: 20px;
  padding-right: 30px;
}

#empSalID{
  display: flex;
  font-size: 20px;
}

#detail{
  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}

html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}